<div class="jumbotron">
  <p>
    <strong>Admin: </strong>
    Manage Member List
  </p>
</div>

<br>
<select (change)="filterChange($event.target.value)">
  <option value="all">All Members</option>
  <option value="officers">Club Officers</option>
</select>

<br>
<br>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Since</th>
          <th>Officer</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of members | async | member:filterByOfficer">
          <td>{{member.memberName}}</td>
          <td>{{member.memberSince}}</td>
          <td>{{member.clubOfficer}}</td>
          <td><button class="btn btn-sm btn-info">Edit</button></td>
          <td><button class="btn btn-danger">Delete</button></td>
        </tr>
        <tr>
          <td><button class="btn btn-primary">New Member</button></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <div *ngIf="newForm">
      <div class="form-group">
        <h3>Enter a New Member:</h3>
        <label>Name</label>
        <input [(ngModel)]="edit.memberName" class="form-control">
        <label>Member Since</label>
        <input *ngIf='missingMemberSince' class="form-control" value="Member Since is required." disabled>
        <input [(ngModel)]="edit.memberSince" class="form-control">
        <label>Profile</label>
        <textarea [(ngModel)]="edit.memberProfile" class="form-control" rows= 8></textarea>
        <label>Club Officer</label>
        <input [(ngModel)]="edit.clubOfficer" class="form-control">
        <br>
        <input *ngIf='editValidationMessage' class="form-control" [(ngModel)]="editValidationMessage" disabled>
        <br>
        <button (click)="saveNewMember();" class='btn btn-info'>Save New Member</button>
      </div>
    </div>
  </div>

</div>
