<div class="jumbotron">
  <p>
    <strong>Admin: </strong>
    Manage Member List
  </p>
</div>

<br>
<select (change)="filterChange($event.target.value)">
  <option value="all">All Members</option>
  <option value="officers">Club Officers</option>
</select>

<br>
<br>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Since</th>
          <th>Officer</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of members | async | member:filterByOfficer">
          <td>{{member.memberName}}</td>
          <td>{{member.memberSince}}</td>
          <td>{{member.clubOfficer}}</td>
          <td><button class="btn btn-sm btn-info">Edit</button></td>
          <td><button (click)="deleteMember(member);" class="btn btn-danger">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <h3 *ngIf="newForm">Enter a New Member:</h3>
      <h3 *ngIf="deleteForm">Delete this member?</h3>

      <label>Name</label>
      <input [(ngModel)]="edit.memberName" [readonly]="deleteForm" class="form-control">

      <label>Member Since</label>
      <input [(ngModel)]="edit.memberSince" [readonly]="deleteForm" class="form-control">

      <label>Profile</label>
      <textarea [(ngModel)]="edit.memberProfile" [readonly]="deleteForm" class="form-control" rows= 8></textarea>

      <label>Club Officer</label>
      <input [(ngModel)]="edit.clubOfficer" [readonly]="deleteForm" class="form-control">

      <br>
      <input *ngIf='editValidationMessage' class="form-control" [(ngModel)]="editValidationMessage" disabled>
      <br>

      <button *ngIf="newForm" (click)="saveNewMember();" class="btn btn-info">Save New Member</button>

      <table *ngIf="deleteForm" class="table">
        <tbody>
          <tr>
            <td class="text-left">
              <button (click)="deleteMemberCanceled();" class="btn btn-info">Cancel Deletion</button>
            </td>
            <td class="text-right">
              <button (click)="deleteMemberConfirmed();" class="btn btn-danger">Confirm Deletion</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div> <!-- form-group -->
  </div> <!-- col-md-6 -->

</div> <!-- row -->
